<!-- Config file for the game -->

<config>
  <app>
    <title>orBit_v1.0</title>
    <organization>UPC</organization>
  </app>
	
  <renderer>
    <vsync value="true"/>
  </renderer>

  <window>
    <resolution width="1024" height="768" scale="2"/>
    <fullscreen value="false"/>
    <borderless value="false"/>
    <resizable value="false"/>
    <fullscreen_window value="false"/>
  </window>

  <file_system>
    <path>data.zip</path>
  </file_system>

  <map>
    <folder>maps/</folder>
    <collision1 red="583" magenta="582" yellow="581" green="580" checkpoint="585"/>
    <collision2 red="949" magenta="948" yellow="947" green="946" checkpoint="951"/>
    <parallax speed="0.5" speed2="1.5"/>
    <offset offset="-160"/>
  </map>

  <scene>
    <map_name name="stage1_TiledV017.tmx"/>
    <map_name name="stage2_TiledV017.tmx"/>
    <startcamera1 x="-586" y="0"  />
    <startcamera2 x="0" y="0"  />
  </scene>

  <audio>
    <music>
      <folder>audio/music/</folder>
      <song name="stage1.ogg"/>
      <song name="stage2.ogg"/>
      <VolumeChanger_music value="0.2"/>
    </music>
    <fx>
      <folder>audio/fx/</folder>
      <VolumeChanger_fx value="0.2"/>
      <sound death="death.wav" doubleJump="doble jump.wav" jump="jump.wav"/>
    </fx>
  </audio>

  <entities>
    <player>
        <folder>animation/player.tmx</folder>
        <texture>textures/sprite_sheet_character.png</texture>
        <collider x="5" y="4" width="15" height="34"/>
        <Velocity x="2.0" y="0.0"  max_speed_y="10.0" initalVx="2.0" jump_force="5.0"/>
        <gravity value="-1.0"/>
        <colliding_offset value="1" />
   
    </player>
   
     <slime>
         <folder>animation/enemies.tmx</folder>
         <texture>textures/monster.png</texture>
         <collider x="21" y="17" width="10" height="20"/>
       
     </slime>
  
  </entities>

</config>