<!-- Config file for the game -->

<config>
  <app>
    <title>Game Development Testbed</title>
    <organization>UPC</organization>
  </app>
	
  <renderer>
    <vsync value="true"/>
  </renderer>

  <window>
    <resolution width="1024" height="768" scale="2"/>
    <resolution width="1024" height="768" scale="3"/>
    <fullscreen value="false"/>
    <borderless value="false"/>
    <resizable value="false"/>
    <fullscreen_window value="false"/>
  </window>

  <file_system>
    <path>data.zip</path>
  </file_system>

  <map>
    <folder>maps/</folder>
    <collision1 red="583" magenta="582" yellow="581" green="580" checkpoint="585"/>
    <collision2 red="949" magenta="948" yellow="947" green="946" checkpoint="951"/>
    <paralax speed="0.5" speed2="1.5"/>
  </map>

  <scene>
    <map_name name="stage1_TiledV017.tmx"/>
    <map_name name="stage2_TiledV017.tmx"/>
  </scene>

  <audio>
    <music>
      <folder>audio/music/</folder>
      <song name="stage1.ogg"/>
      <song name="stage2.ogg"/>
      <VolumeChanger_music value="0"/>
    </music>
    <fx>
      <folder>audio/fx/</folder>
      <VolumeChanger_fx value="0"/>
    </fx>
  </audio>

  <player>
    <atributes>speed="2" jump_force="6"  </atributes>
    <folder>animation/player.tmx</folder>
    <texture>textures/sprite_sheet_character.png</texture>
    <colider x="0" y="4" width="21" height="35"/>
  </player>

</config>